

/*--------------------------page-footer-----------------------------*/


.page-footer{
  margin-left: auto;
  margin-right:auto;
  text-align:center;
  background-color: rgba(51, 51, 51, 1);
  padding:20px 0px 10px 40px;
  text-align: center;
  color:#fff;
}

div.bottom-menu{
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  width:30%
  
}


.page-footer h4{
  margin-left: auto;
  margin-right:auto;
  font-family: 'SnellRoundhandBoldScript';
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}

.bottom-menu ul{
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}



.page-footer a{
  color:#fff;
  text-decoration: none;
}



.page-footer li, .page-footer ul, .page-footer .menu{
  list-style: none;
  list-style-image: none;
}

ul li.leaf{
  list-style-type: none;
  list-style-image: none;
}

.addthis-animated{
  float: left;
}

.reseaux-sociaux h4{
  margin-top:25px;
}

.bottom-menu, .reseaux-sociaux, .rechercher{
  margin-left: auto;
  margin-right: auto;
  width:33%;
  display:inline-block;
  vertical-align:top;
}


.bottom-menu h4{
  text-align:left;
}

.rechercher{
  margin-top:20px;
}


.bottom-menu a:hover,{
  color:#666;
}

input#edit-search-block-form--2{
  border-radius:4px;
  margin-left:5px;
  margin-bottom: 5px;
}
 
input#edit-submit--2.form-submit{
  background: #666 url('/sites/default/themes/front/img/loupe.png') no-repeat top left;
  border:0px;
  display:inline-block;
  background-color: transparent;
  color:transparent;
  height:50px;
  position:relative;
  top:10px;
  border-radius:25px;
}

