/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
@font-face {
  font-family: 'SnellRoundhandBoldScript';
  src: url('/domaine7m/sites/default/themes/front/fonts/SnellRoundhandBoldScript.eot');
  src: url('/domaine7m/sites/default/themes/front/fonts/SnellRoundhandBoldScript.eot') format('embedded-opentype'), url('/domaine7m/sites/default/themes/front/fonts/SnellRoundhandBoldScript.woff2') format('woff2'), url('/domaine7m/sites/default/themes/front/fonts/SnellRoundhandBoldScript.woff') format('woff'), url('/domaine7m/sites/default/themes/front/fonts/SnellRoundhandBoldScript.ttf') format('truetype'), url('/domaine7m/sites/default/themes/front/fonts/SnellRoundhandBoldScript.svg.SnellRoundhandBoldScript') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url('/domaine7m/sites/default/themes/front/fonts/MyriadProRegular.eot');
  src: url('/domaine7m/sites/default/themes/front/fonts/MyriadProRegular.eot') format('embedded-opentype'), url('/domaine7m/sites/default/themes/front/fonts/MyriadProRegular.woff2') format('woff2'), url('/domaine7m/sites/default/themes/front/fonts/MyriadProRegular.woff') format('woff'), url('/domaine7m/sites/default/themes/front/fonts/MyriadProRegular.ttf') format('truetype'), url('/domaine7m/sites/default/themes/front/fonts/MyriadProRegular.svg.MyriadProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProSemibold';
  src: url('/domaine7m/sites/default/themes/front/fonts/MyriadProSemibold.eot');
  src: url('/domaine7m/sites/default/themes/front/fonts/MyriadProSemibold.eot') format('embedded-opentype'), url('/domaine7m/sites/default/themes/front/fonts/MyriadProSemibold.woff2') format('woff2'), url('/domaine7m/sites/default/themes/front/fonts/MyriadProSemibold.woff') format('woff'), url('/domaine7m/sites/default/themes/front/fonts/MyriadProSemibold.ttf') format('truetype'), url('/domaine7m/sites/default/themes/front/fonts/MyriadProSemibold.svg.MyriadProSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix {
  clear: both;
}
.page .container {
  background-size: 100%;
  color: #fff;
  text-align: center;
  font-family: 'MyriadProRegular';
  height: 1400px;
}
.front .container {
  /*background:.ffe0a3 url(/domaine7m/sites/default/themes/front/img/home_bg.jpg) no-repeat center top fixed;*/
  background-size: 100%;
  color: #fff;
  text-align: center;
  font-family: 'MyriadProRegular';
  height: 1400px;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active,
a:before,
a:after {
  text-decoration: none;
  color: #333;
}
.container-2 {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.right {
  float: right;
}
.left {
  float: left;
}
.hide {
  display: none;
}
/*-----------------------------HEADER 1-----------------------------*/
.front-large-menu {
  background-color: rgba(51, 51, 51, 0.1);
  padding: 30px 30px 0px 40px ;
}
.diaporama {
  position: absolute;
  top: 0px;
  z-index: -2;
}
.field-name-field-giant-image {
  width: 100%;
}
/* block-logo */
.top-left {
  width: 500px;
  vertical-align: bottom;
}
.top-left > h1 {
  font-family: 'SnellRoundhandBoldScript';
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 30px;
  margin: 0px;
  color: #fff;
}
/* block-langues */
div.block-locale-language {
  padding: 0px;
  margin: 0px 30px 0px 0px;
}
ul.language-switcher-locale-url {
  margin: 0px;
}
ul.language-switcher-locale-url > li > a > img {
  margin: 0px 4px;
  padding: 0px;
}
ul.language-switcher-locale-url > li > a {
  width: 20px;
}
ul.language-switcher-locale-url > li {
  list-style: none;
  display: inline-block;
}
a.language-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}
a.language-link.active {
  display: none;
}
/* large menu */
.main-menu {
  padding-top: 50px;
}
.sf-menu.sf-style-space-teal li,
.sf-menu.sf-style-space-teal li li,
.sf-menu.sf-style-space-teal li li li,
.sf-menu.sf-style-space-teal.sf-navbar {
  background-color: rgba(0, 0, 0, 0);
}
.sf-menu.sf-style-space-teal a {
  border: 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
}
.sf-depth-2 {
  background-color: #69c9ca;
}
/*-------------------------front-main-content-----------------------------*/
.front-main-content {
  margin-top: 610px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.front-sub-main-content {
  margin-left: auto;
  margin-right: auto;
}
/* mariage entreprise */
/* quotidien */
.front-quot {
  vertical-align: top;
  display: inline-block;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 1px #333;
  padding: 5px;
}
.front-quot img {
  opacity: 0.9;
  filter: alpha(opacity=80);
}
.front-quot img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.front-quot .right {
  width: 56%;
  color: #333;
  text-align: left;
  padding-top: 4px;
}
.front-quotidien .titre {
  font-family: 'MyriadProSemibold';
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.front-quotidien .titre .field-content a {
  color: #666;
}
.front-quotidien .texte {
  padding: 5px;
}
.front-quotidien .titre > span > a {
  text-decoration: none;
  color: #fff;
}
.front-quotidien .titre > span > a:hover {
  color: rgba(255, 255, 255, 0.8);
}
/* citation */
/* cadeau */
.block-front-reserver {
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: top;
}
.block-cadeau,
.block-form {
  margin-left: auto;
  margin-right: auto;
}
.front_reserver div {
  margin: 0px;
}
.front_reserver {
  width: 300px;
}
#block-views-front-cadeau-block > .content > .view > .view-content > .views-row > .front_booking > .front > .img > .field-content > img {
  border: solid 1px #666;
  border-radius: 8px;
  position: relative;
}
.front-cadeau .field-content {
  position: absolute;
  top: 24px;
  left: -14px;
  width: 300px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-align: right;
  text-shadow: 0px 0px 4px #969696;
}
.front-cadeau .block-form {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0;
}
/* front-form-fake */
.front-form-fake {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  background-color: rgba(105, 201, 202, 0.9);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  height: 180px;
}
.front-form-fake > h2 {
  margin: 0px 0px 5px ;
  text-align: center;
}
.front-form-fake input,
.front-form-fake > select {
  display: inline-block;
  height: 28px;
  border-radius: 5px;
  font-size: 15px;
  color: #666;
}
.front-form-fake > select {
  margin-left: 10px;
  width: 150px;
}
.front-form-fake > label {
  font-size: 16px;
}
.front-form-fake > label.jusque {
  display: inline-block;
  margin-left: 10px;
}
.front-form-fake input {
  width: 100px;
  margin: 10px 0 10px 10px;
  text-align: center;
}
.front-form-fake > .show_cb {
  text-align: left;
  background-color: #b92349;
  padding: 7px 11px 5px ;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}
/*--meltin-pot--*/
.melting-pot {
  padding-top: 50px;
  margin-top: 120px;
  border: solid 1px #ffe0a3;
  text-align: center;
}
.block-views-melting-pot2-block {
  margin-left: auto;
  margin-right: auto;
}
.melting-pot .views-row {
  display: inline-block;
  width: 180px;
  vertical-align: top;
  margin: 0 -2px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.melting-pot .views-row:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.melting-pot .melting-pot-relative p {
  width: 160px;
  height: 160px;
  color: rgba(1, 1, 1, 0.4);
  padding: 10px;
  background-color: #fff;
  margin: 0px 0px 5px  0px;
}
.melting-pot-texte {
  margin-top: -50px;
  margin-bottom: 60px;
  text-shadow: 0px 0px 4px #969696;
}
.melting-pot a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px;
}
/*--------------------------page-footer-----------------------------*/
.page-footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  padding: 20px 0px 10px 40px;
  text-align: center;
  color: #fff;
}
div.bottom-menu {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 30%;
}
.page-footer h4 {
  margin-left: auto;
  margin-right: auto;
  font-family: 'SnellRoundhandBoldScript';
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}
.bottom-menu ul {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.page-footer a {
  color: #fff;
  text-decoration: none;
}
.page-footer li,
.page-footer ul,
.page-footer .menu {
  list-style: 0 none;
  list-style-image: none;
}
ul li.leaf {
  list-style-type: none;
  list-style-image: none;
}
.bottom-menu,
.reseaux-sociaux,
.rechercher {
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  display: inline-block;
  vertical-align: top;
}
.bottom-menu h4 {
  text-align: left;
}
.rechercher {
  margin-top: 20px;
}
.bottom-menu a:hover {
  color: #666;
}
input#edit-search-block-form--2 {
  border-radius: 4px;
  margin-left: 5px;
  margin-bottom: 5px;
}
input#edit-submit--2.form-submit {
  background: #666666 url(/domaine7m/sites/default/themes/front/img/loupe.png) no-repeat top left;
  border: 0px;
  display: inline-block;
  background-color: transparent;
  color: transparent;
  height: 50px;
  position: relative;
  top: 10px;
  border-radius: 25px;
}
/*-------------------------main-content-----------------------------*/
.main-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.main-content .quotidien-block .top-quot-block {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: solid 1px #000;
  color: #333;
  width: 70%;
  border-radius: 10px;
}
.main-content .quotidien-block .top-quot-block .titre {
  width: 100%;
  font-size: 180%;
  color: #666;
  padding-bottom: 15px;
}
.main-content .quotidien-block .top-quot-block .titre .field-content a {
  color: #666;
  text-transfom: uppercase !important;
}
.main-content .quotidien-block .top-quot-block .image-left {
  width: 50%;
  vertical-align: top;
  float: left;
}
.main-content .quotidien-block .top-quot-block .image-left .field-content a img {
  max-width: 100%;
  height: auto;
}
.main-content .quotidien-block .top-quot-block .texte {
  text-align: left;
}
.main-content .quotidien-block .top-quot-block .texte .field-content {
  margin-top: 0px;
  padding-top: 0px;
}
.main-content .quotidien-block .top-quot-block .texte .field-content p:nth-child(1) {
  padding-top: 0px;
  margin-top: 0px;
}
.main-content .sub-main-content {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.main-content .sub-main-content .super-contenu-vue {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.main-content .sub-main-content .super-contenu-vue .views-row .one-vignette .image-row {
  width: 20%;
  display: inline-block;
}
.main-content .sub-main-content .super-contenu-vue .views-row .one-vignette .image-row .field-content a img {
  max-width: 100%;
  height: auto;
}
.main-content .sub-main-content .super-contenu-vue .views-row .one-vignette div {
  width: 70%;
  display: inline-block;
}
.main-content .sub-main-content .super-contenu-vue .views-row .one-vignette div .titre-row .field-content {
  color: #333;
  text-transform: uppercase;
}
.main-content .sub-main-content .super-contenu-vue .views-row .one-vignette div .texte-row {
  margin-left: 10px;
}
.main-content .sub-main-content .block-right {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.main-content .sub-main-content .block-right .block-front-reserver {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #fff;
}
.main-content .sub-main-content .block-right .block-front-reserver .bock-form {
  text-align: left;
}
/*--------------------------RESPONSIVE-----------------------------*/
@media (max-width: 480px) {
  /*  .container{
  }*/
  .front-sub-main-content {
    width: 100%;
  }
  .front-main-content {
    margin-top: 30px;
  }
  .front-quot {
    margin: 0px 20px;
  }
}
@media (min-width: 481px) and (max-width: 970px) {
  .front-main-content {
    margin-top: 30px;
  }
  .top-left {
    width: 40%;
  }
  .front-quot {
    margin: 4%;
  }
}
@media (min-width: 971px) and (max-width: 1440px) {
  .front-sub-main-content {
    width: 98%;
  }
  .front-main-content {
    margin-top: 410px;
  }
  .front_reserver {
    margin-left: 20px;
  }
  .front-cadeau .field-content {
    position: relative;
    top: -170px;
    left: 25px;
  }
}
/*@media (min-width:481px) and (max-width:980px){
  
}*/
